a {
	text-decoration: none;
	color: #EE5862;
}

a:hover {
	text-decoration: underline;
	color: #34090C;
}

article .container {
	background-color: #F37C84;
	border-radius: 6px;
}

article h4 {
	text-align: center;
	padding: 15px;
}

article a, article a:hover, .altro a, .altro a:hover {
	color: white;
}

article h4, aside h3 {
	font-family: 'Amita';
	color: #950E17;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

aside img {
	width: 250px;
	height: 331px;
	border-radius: 6px;
}

aside .card {
	width: auto;
	height: 332px;
	font-size: 14px;
}

aside .card-title {
	font-weight: bold;
	color: #950E17;
	font-size: 25px;
}

aside .container {
	background-color: #EA202C;
	border-radius: 6px;
}

body {
	font-family: Arial;
	font-size: 16px;
}

footer a {
	color: 	#F5F5F5;
	text-decoration: underline;
}

footer a:hover {
	color: #808080;
}

footer .info {
	background-color: #101010;
	color: 	#F5F5F5;
	text-align: justify;
}

footer h3{
	text-align: center;
	font-style: bold;
}

h2 {
	font-size: 35px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: #F5F5F5;
	padding: 20px;
}

h3 {
	font-size: 30px;
	color: #F5F5F5;
}

h5 {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

iframe, .carousel-inner {
	border-radius: 6px;
}

nav .breadcrumb {
	font-size: 14px;
	background-color: transparent;
	margin-bottom: 5px;
	width: 30%;
	display: block;
}

section h2 {
	font-style: bold;
	font-size: 20px;
	text-align: left;
}

section .card-title {
	font-size: 20px;
}


.altro p {
	width: 180px;
}

.bottone {
	width: 260px;
	margin-left: -100px;	
}

.card-deck img {
	object-fit: cover;
	object-position: center;
}

.card-deck div .card-body {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.card-deck a {
	margin-top: auto;
}

.card-img-top {
	width: auto;
	height: 400px;
}

.copertina img {
	height: auto;
	width: 100%;
}

.catalogo {
	background-color: #670A10;
}

.catalogo h2{
	color: #EF4E58;
	text-shadow: 2px 2px #892a2a; 
}

.card span {
	display: inline-block;
	width: 250px;
	font-weight: bold;
}

.carousel img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 100% 0;
}

.carousel-caption {
	background-color: rgba(26, 26, 26, .7); 
	left: 0; 
	right: 0; 
	width: 100%;
}

.carousel-caption h5 {
	padding: 5px;
	font-size: 13px;
	font-style: italic;
}

.form-check {
	margin-left: 10px;
	margin-right: 10px;
}

.media img {
	width: 25%;
	height: 25%;
	object-fit: cover;
	border-radius: 6px;
}

.media {
	font-size: 13px;
	text-align: left;
}

.navbar-brand {
	color: #330000;
	font-family: 'Amita';
	font-size: 20px;
	text-align: center;
	text-shadow: 2px 2px 5px #990000;
}

.opere img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

.opere h5 {
	font-size: 15px;
}

.page-item.active .page-link {
	color: #FEFEFE; 
	border-color: #34090C; 
	background-color: #34090C;
}

.page-link {
	color: #EA202C
}

.page-link:hover {
	background-color: #FCDEE0;
	border-color: #FCDEE0;
	color: #950E17;
}

.percorsi {
	background-color: #950E17;
	padding: 30px;
	color: #F5F5F5;
	text-align: justify;
}

.percorsi .dropdown-menu {
	font-size: 13px;
	font-style: italic;
}

.progetto, .cataloghi {
	background-color: #34090C;
	padding: 30px;
	color: #F5F5F5;
	text-align: justify;
}


#carouselExampleCaptions {
	height: 430px;
}

#carouselExampleIndicators {
	height: 500px;
}

#carouselExampleSlidesOnly .carousel-item {
	height: 500px; 
}

#controllo {
	height: 250px;
}

#controllo ul {
	list-style: square;
	margin-top: 15px;
	font-size: 15px;
}

#introduzione a, #introduzione a:hover{
	color: white;
	text-decoration: underline;
	float: right;
}

#ophelia img {
	object-fit: cover;
	object-position: 35% 65%;
}

#opera, #persona, #multimedia, #testi {
	background-color: #950E17;
}

#opera .list-group-item ul {
	list-style: none;
	margin-left: 215px;
}

#persona .carousel img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;	
}

#rossetti img {
	object-fit: cover;
	object-position: 90% 10%;
}

#titolo {
	padding:30px;
	background-image: url(https://www.bl.uk/treasures/shakespeare/images/add42518f422vlge.jpg);
}

#titolo h1 {
	color: #330000;
	font-family: 'Amita';
	font-size: 100px;
	text-align: center;
	text-shadow: 2px 2px 5px #990000;
}

#testi .card-title, #multimedia .card-title {
	height: 80px;
	color: #750b12;
	text-shadow: 1px 1px 2px #eb2d3a;
	font-size: 18px;
	padding-top: 25px;
}




